body {
  background-color: #f0f2f5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* ------ Header SS ------- */
#header {
  background-color: #a00;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 60px;
  width: 100%;
}

#page-title {
  color: #fff;
  position: absolute;
  font-size: 1.8rem;
  margin-top: 15px;
  margin-left: 30px;
  font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#set-block {
  float: right;
  margin: 20px 18px 0 0;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

#info-block {
  float: right;
  margin: 20px 18px 30px 0;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
