.title {
  color: #000;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 2.2rem;
  text-align: center;
  margin: 10px 0 30px 0;
}

h1 {
  color: #000;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 70px 0 20px 20px;
}

h2 {
  color: #000;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 50px 0 3px 60px;
}

h3 {
  color: #000;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 1.4rem;
  font-style: italic;
  margin: 40px 0 1px 80px;
  font-weight: bold;
}

pre {
  border: solid 1px #000;
  background-color: #eee;
}

#paper-list {
  font-size: 1.2rem;
  color: #222;
  line-height: 2rem;
  font-family: Inter-Regular, Sans-Serif;
}

p {
  margin: 5px 0 20px 10px;
}

a {
  text-decoration: none;
}
