/* ------ Paper list SS ------- */

#paper-list-title {
  font-size: 1.4rem;
  text-align: center;
  text-decoration: underline;
}

#load_papers {
  color: #aaa;
  margin: 30px 0 0 45%;
}

#no-paper {
  color: #aaa;
  text-align: center;
  margin-top: 30px;
}

#sort-block {
  display: none;
  color: #aaa;
  font-size: 1rem;
  padding: 15px 0 0 20px;
}

#sorting-proc {
  margin-left: 15px;
  display: none;
}

#load_papers::after {
  display: inline-block;
  animation: dotty steps(1, end) 1.5s infinite;
  content: '';
}

@keyframes dotty {
  0% { content: ''; }
  25% { content: '.'; }
  50% { content: '..'; }
  75% { content: '...'; }
  100% { content: ''; }
}

#paper-bg {
  position: static;
  margin: 90px 30px 0 240px;
}

#paper-list {
  padding: 15px;
  font-size: 1.2rem;
  background-color: #fff;
  overflow: hidden;
}

/* ----------Papers ---------- */

.paper {
  clear: both;
  padding: 15px 0 0 20px;
}

.paper-title {
  font-size: 1.2rem;
  margin-bottom: 8px;
  font-weight: bold;
}

.tag-panel {
  overflow: hidden;
  margin: 0 0 0 5px;
}

.tag-panel-item {
  float: left;
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
  font-size: 1rem;
  border-radius: 10px;
  text-align: center;
}

.paper-au {
  clear: both;
  margin: 5px 0 3px 0;
  font-size: 1rem;
}

.paper-cat {
  font-size: 1rem;
  margin-bottom: 8px;
}

.paper-date {
  margin: 3px 0 3px 0;
  color: #666;
  font-size: 1rem;
}

.paper-abs {
  display: none;
  font-size: 1rem;
}

.btn-panel {
  clear: both;
  display: flex;
  margin-bottom: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-left: 5px;
  text-decoration: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-delete {
  background-color: #c00;
  margin-left: 15px;
}

.btn-delete:hover {
  background-color: #a00;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
