/* ------- Popup windows ----- */
.popup {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  overflow: auto;
  z-index: 3;
  padding-top: 80px;
  left: 0;
  top: 0;
}

#popup-content {
  background-color: #fefefe;
  position: relative;
  margin: auto;
  padding: 0;
  font-size: 1.1rem;
  width: 80%;
}

.popup-header {
  background-color: #a00;
  color: #fff;
  font-weight: bold;
  padding: 5px 16px;
  font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
  font-size: 1.4rem;
}

.popup-body {
  padding: 20px;
}

.set-pop {
  float: left;
}
