.set-title {
  font-size: 1.5rem;
  margin: 30px 0 5px 5px;
  clear: both;
  overflow: hidden;
}

.cat-item {
  font-size: 1.1rem;
  margin: 0 0 5px 20px;
  width: 400px;
  clear: both;
  overflow: hidden;
}

.item-left {
  float: left;
}

.item-right {
  float: right;
}

.del {
  color: #c00;
  cursor: pointer;
}

.tag-label {
  background-color: #aaa;
  font-size: 1rem;
  color: #000;
  width: 90px;
  margin: 5px 0 10px 10px;
  padding: 5px 5px 5px 5px;
  border: 4px solid transparent;
  border-radius: 20px;
  text-align: center;
  clear: both;
  overflow: hidden;
  cursor: pointer;
}

.tag-label:hover {
  border: 4px solid #000;
}

.add-set {
  background-color: #fff;
  border-style: dashed;
  border-width: 2px;
  border-color: #666;
}

.pref-item {
  font-size: 1.1rem;
  margin: 10px 0 20px 20px;
}

.hint {
  font-size: 1rem;
  color: #666;
}

#tags-list {
  float: left;
  margin-right: 50px;
}

#tags-set {
  float: left;
  margin-left: 10px;
}

.add-cat-class {
  margin-top: 10px;
  font-size: 1rem;
  font-style: italic;
  text-decoration: underline;
  opacity: 50%;
  cursor: pointer;
}
